---
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---

<Main title="Not Linear - This isn't Linear">
	<main class="flex flex-col pt-12">
    <div class="min-h-[800px] pt-12 -mt-12 px-5 top-gradient">
      <h1 class="text-7xl text-center text-slate-100">This is an h1 tag</h1>
    </div>
  </main>
</Main>

<style>
  .top-gradient {
    background: radial-gradient(ellipse 75% 50% at 50% -10%, hsl(217, 32%, 25%), transparent)
  }
</style>