---
import Main from '../layouts/Main.astro';
import Header from '../components/Header.astro';
import BigImage from '../components/BigImage.astro';
import Companies from '../components/Companies.astro';
---

<Main title="Not Linear - This isn't Linear">
  <main class='flex flex-col pt-12 text-center top-gradient'>
    <div class='min-h-[800px] pt-16 -mt-16 container'>
      <Header />
      <BigImage />
      <Companies />
    </div>
  </main>
</Main>

<style>
  .top-gradient {
    background: radial-gradient(ellipse 75% 50% at 50% -10%, rgb(43, 59, 84, 0.4), transparent);
  }
</style>

<script></script>
