---
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---

<Main title="Not Linear - This isn't Linear">
	<main class="flex flex-col pt-12 text-center">
    <div class="min-h-[800px] pt-12 -mt-12 px-5 top-gradient">
      <div class="mt-16 flex flex-col items-center">
        <a class="cursor-pointer backdrop-blur-md px-3 flex items-center font-medium leading-7 text-sm bg-white/10 rounded-full">
          <div>Lorem ipsum dolor sit amet</div>
          <span class="bg-white/10 flex backdrop-blur-md items-center px-2 ml-2 -mr-2 rounded-full h-5">→</span>
        </a>
        <h1 class="text-5xl my-6 text-center text-slate-100">This is an h1 tag</h1>
      </div>
    </div>
  </main>
</Main>

<style>
  .top-gradient {
    background: radial-gradient(ellipse 75% 50% at 50% -10%, hsl(217, 32%, 25%), transparent)
  }
</style>
<script>

</script>