---
import { HTMLAttributes } from 'astro/types';
import { cva, VariantProps } from 'class-variance-authority';

const navLink = cva('h-12 leading-[3rem] inline-block transition-colors hover:text-gray-400')

export interface Props extends HTMLAttributes<'a'>,
  VariantProps<typeof navLink> { }

const { class: className, ...rest } = Astro.props
---

<a href='#' class={navLink({ className })} {...rest}>
  <slot />
</a>
